@tailwind base;

@layer base {
  :root {
    --gray-050: 250 250 250;    /* #FAFAFA */
    --gray-100: 235 235 235;    /* #EBEBEB */
    --gray-200: 225 225 225;    /* #E1E1E1 */
    --gray-300: 193 193 193;    /* #C1C1C1 */
    --gray-400: 161 161 161;    /* #A1A1A1 */
    --gray-500: 129 129 129;    /* #818181 */
    --gray-600: 97 97 97;       /* #616161 */
    --gray-700: 65 65 65;       /* #414141 */
    --gray-800: 43 43 43;       /* #2B2B2B */
    /* --gray-850: 26 26 26;    /* #1A1A1A */
    --gray-850: 20 20 20;       /* TEST */
    --gray-900: 17 17 17;       /* #111111 */

    --red-050: 255 250 250;     /* #FFFAFA */
    --red-100: 255 229 233;     /* #FFE5E9 */
    --red-200: 251 191 199;     /* #FBBFC7 */
    --red-300: 255 144 159;     /* #FF909F */
    --red-400: 255 112 130;     /* #FF7082 */
    --red-500: 255 69 93;       /* #FF455D */
    --red-600: 217 32 56;       /* #D92038 */
    --red-700: 193 16 39;       /* #C11027 */
    --red-800: 143 7 24;        /* #8F0718 */
    --red-900: 52 20 24;        /* #341418 */
    --red-950: 32 10 13;        /* #200A0D */

    --orange-050: 255 248 243;  /* #FFF8F3 */
    --orange-100: 255 232 216;  /* #FFE8D8 */
    --orange-200: 255 197 155;  /* #FFC59B */
    --orange-300: 252 156 102;  /* #FC9C66 */
    --orange-400: 253 129 45;   /* #FD812D */
    --orange-500: 243 88 21;    /* #F35815 */
    --orange-600: 184 58 5;     /* #B83A05 */
    --orange-700: 150 45 0;     /* #962D00 */
    --orange-800: 103 32 2;     /* #672002 */
    --orange-900: 60 20 3;      /* #3C1403 */
    --orange-950: 36 11 0;      /* #240B00 */

    --yellow-050: 255 251 228;  /* #FFFBE4 */
    --yellow-100: 255 241 168;  /* #FFF1A8 */
    --yellow-200: 254 213 74;   /* #FED54A */
    --yellow-300: 242 182 0;    /* #F2B600 */
    --yellow-400: 209 159 3;    /* #D19F03 */
    --yellow-500: 167 129 3;    /* #A78103 */
    --yellow-600: 125 89 3;     /* #7D5903 */
    --yellow-700: 92 71 22;     /* #5C4716 */
    --yellow-800: 65 50 12;     /* #41320C */
    --yellow-900: 40 30 3;      /* #281E03 */
    --yellow-950: 23 17 1;      /* #171101 */

    --green-050: 239 255 243;   /* #EFFFF3 */
    --green-100: 215 251 223;   /* #D7FBDF */
    --green-200: 169 236 184;   /* #A9ECB8 */
    --green-300: 117 219 140;   /* #75DB8C */
    --green-400: 64 215 99;     /* #40D763 */
    --green-500: 39 182 72;     /* #27B648 */
    --green-600: 19 134 46;     /* #13862E */
    --green-700: 25 101 42;     /* #19652A */
    --green-800: 16 72 29;      /* #10481D */
    --green-900: 10 43 19;      /* #0A2B13 */
    --green-950: 4 26 10;       /* #041A0A */

    --blue-050: 243 251 255;    /* #F3FBFF */
    --blue-100: 221 242 255;    /* #DDF2FF */
    --blue-200: 169 223 254;    /* #A9DFFE */
    --blue-300: 115 199 249;    /* #73C7F9 */
    --blue-400: 71 183 248;     /* #47B7F8 */
    --blue-500: 30 157 231;     /* #1E9DE7 */
    --blue-600: 11 110 197;     /* #0B6EC5 */
    --blue-700: 20 78 182;      /* #144EB6 */
    --blue-800: 14 54 130;      /* #0E3682 */
    --blue-900: 8 32 78;        /* #08204E */
    --blue-950: 4 18 46;        /* #04122E */

    --purple-050: 249 248 255;  /* #F9F8FF */
    --purple-100: 238 234 255;  /* #EEEAFF */
    --purple-200: 212 201 254;  /* #D4C9FE */
    --purple-300: 183 165 251;  /* #B7A5FB */
    --purple-400: 161 139 245;  /* #A18BF5 */
    --purple-500: 132 103 243;  /* #8467F3 */
    --purple-600: 94 73 175;    /* #5E49AF */
    --purple-700: 75 57 144;    /* #4B3990 */
    --purple-800: 62 31 117;    /* #3E1F75 */
    --purple-900: 39 18 74;     /* #27124A */
    --purple-950: 24 6 54;      /* #180636 */
  }
}
