@tailwind base;

@layer base {
  :root {
    --fuselage-50:  249 250 255;           /* #F9FAFF */
    --fuselage-100: 238 239 252;           /* #EEEFFC */
    --fuselage-150: 224 225 236;           /* #E0E1EC */
    --fuselage-200: 210 211 224;           /* #D2D3E0 */
    --fuselage-250: 186 187 204;           /* #BABBCC */
    --fuselage-300: 166 168 187;           /* #A6A8BB */
    --fuselage-400: 139 140 169;           /* #8B8CA9 */
    --fuselage-450: 116 117 152;           /* #747598 */
    --fuselage-500: 96 98 130;             /* #606282 */
    --fuselage-550: 79 80 107;             /* #4F506B */
    --fuselage-600: 61 63 84;              /* #3D3F54 */
    --fuselage-700: 44 45 60;              /* #2C2D3C */
    --fuselage-800: 33 33 46;              /* #21212E */
    --fuselage-900: 25 26 35;              /* #191A23 */
    --fuselage-950: 17 18 26;              /* #11121A */

    --atmos-50:  182 197 249;              /* #B6C5F9 */
    --atmos-100: 164 182 247;              /* #A4B6F7 */
    --atmos-200: 126 152 244;              /* #7E98F4 */
    --atmos-300: 88 122 241;               /* #587AF1 */
    --atmos-400: 51 92 238;                /* #335CEE */
    --atmos-500: 19 66 228;                /* #1342E4 */
    --atmos-600: 16 55 191;                /* #1037BF */
    --atmos-700: 13 44 153;                /* #0D2C99 */
    --atmos-800: 9 29 101;                 /* #091D65 */
    --atmos-900: 4 14 50;                  /* #040E32 */

    --ocean-100: 200 208 236;              /* #C8D0EC */
    --ocean-200: 170 182 225;              /* #AAB6E1 */
    --ocean-300: 140 156 215;              /* #8C9CD7 */
    --ocean-400: 109 131 204;              /* #6D83CC */
    --ocean-500: 79 105 194;               /* #4F69C2 */
    --ocean-600: 60 85 172;                /* #3C55AC */
    --ocean-700: 45 64 130;                /* #2D4082 */
    --ocean-800: 31 44 89;                 /* #1F2C59 */
    --ocean-900: 16 23 47;                 /* #10172F */

    --semantic-red-50:  251 218 218;       /* #FBDADA */
    --semantic-red-100: 249 199 199;       /* #F9C7C7 */
    --semantic-red-200: 245 162 162;       /* #F5A2A2 */
    --semantic-red-300: 241 126 126;       /* #F17E7E */
    --semantic-red-400: 237 89 89;         /* #ED5959 */
    --semantic-red-500: 233 52 52;         /* #E93434 */
    --semantic-red-600: 207 22 22;         /* #CF1616 */
    --semantic-red-700: 156 17 17;         /* #9C1111 */
    --semantic-red-800: 105 11 11;         /* #690B0B */
    --semantic-red-900: 55 6 6;            /* #370606 */

    --semantic-green-50:  188 239 206;     /* #BCEFCE */
    --semantic-green-100: 172 236 193;     /* #ACECC1 */
    --semantic-green-200: 138 228 169;     /* #8AE4A9 */
    --semantic-green-300: 105 220 145;     /* #69DC91 */
    --semantic-green-400: 72 213 120;      /* #48D578 */
    --semantic-green-500: 46 198 98;       /* #2EC662 */
    --semantic-green-600: 35 152 75;       /* #23984B */
    --semantic-green-700: 25 107 53;       /* #196B35 */
    --semantic-green-800: 14 61 30;        /* #0E3D1E */
    --semantic-green-900: 4 16 8;          /* #041008 */

    --semantic-yellow-50:  254 247 223;    /* #FEF7DF */
    --semantic-yellow-100: 254 242 203;    /* #FEF2CB */
    --semantic-yellow-200: 252 233 163;    /* #FCE9A3 */
    --semantic-yellow-300: 251 223 123;    /* #FBDF7B */
    --semantic-yellow-400: 250 214 84;     /* #FAD654 */
    --semantic-yellow-500: 249 204 44;     /* #F9CC2C */
    --semantic-yellow-600: 230 181 7;      /* #E6B507 */
    --semantic-yellow-700: 176 138 5;      /* #B08A05 */
    --semantic-yellow-800: 121 95 3;       /* #795F03 */
    --semantic-yellow-900: 67 52 2;        /* #433402 */

    --semantic-blue-50:  250 251 253;      /* #FAFBFD */
    --semantic-blue-100: 237 242 250;      /* #EDF2FA */
    --semantic-blue-200: 219 229 244;      /* #DBE5F4 */
    --semantic-blue-300: 188 207 234;      /* #BCCFEA */
    --semantic-blue-400: 157 184 224;      /* #9DB8E0 */
    --semantic-blue-500: 126 162 214;      /* #7EA2D6 */
    --semantic-blue-600: 83 131 200;       /* #5383C8 */
    --semantic-blue-700: 55 103 173;       /* #3767AD */
    --semantic-blue-800: 41 78 130;        /* #294E82 */
    --semantic-blue-900: 28 52 88;         /* #1C3458 */
  }
}