@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 8%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border font-sans font-normal antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .clip-tail {
    clip-path: polygon(
      100% 0.822%,
      77.199% 0.822%,
      77.199% 0.822%,
      75.583% 1.003%,
      74.04% 1.508%,
      72.579% 2.272%,
      71.208% 3.234%,
      69.936% 4.334%,
      68.771% 5.507%,
      67.722% 6.693%,
      66.796% 7.829%,
      66.002% 8.854%,
      65.35% 9.706%,
      65.35% 9.706%,
      63.05% 12.822%,
      57.811% 19.992%,
      50.382% 30.185%,
      41.512% 42.368%,
      31.95% 55.509%,
      22.447% 68.576%,
      13.75% 80.536%,
      6.611% 90.357%,
      1.778% 97.006%,
      0% 99.452%,
      71.7% 99.452%,
      100% 0.822%
    );
  }
}

html,
body {
  /* wth https://github.com/vercel/geist-font/issues/65#issuecomment-1837402864 */
  font-synthesis-weight: none;
}

::-webkit-scrollbar {
  @apply h-0 w-1.5;
  scrollbar-width: 0.375rem;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-accent bg-opacity-20 backdrop-blur-3xl;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.navbar-transition {
  @apply animate-[stickyNav_linear_forwards];

  @supports (animation-timeline: view()) {
    animation-timeline: view();
    animation-range-start: calc(100vh + 20vh);
    animation-range-end: calc(100vh + 30vh);
  }
}

@keyframes stickyNav {
  100% {
    @apply bg-background backdrop-blur-lg;
  }
}
