.mapboxgl-canvas {
  outline: none;
}

/* Overide position to avoid covering Mapbox logo by Sidebar */
.mapboxgl-ctrl-bottom-left {
  bottom: 0 !important;
  left: 3.5rem !important;
}

.flight-popup {
  @apply min-w-[15rem] w-fit max-w-xs;
}

.flight-popup > .mapboxgl-popup-tip {
  @apply hidden;
}

.flight-popup > .mapboxgl-popup-content {
  @apply bg-background/50 shadow-none backdrop-blur-sm rounded-md p-0;
}


